@page "/"

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)">

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(1)">
        <Counter></Counter>
    </Animate>

</Animate>